.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30rem;
    padding: 3.2rem;
    background-color: var(--element-background);
    border-radius: 0.8rem;

    @include --mobile {
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__title {
    margin: 0;
  }
}
