:root {
  --app-background: #FFFFFF;
  --contrast-color: #FFFFFF;
  --element-background: #F5F5F5;
  --text-color: #2E3146;
  --accent-color: #C93239;
  --accent-active-color: #A51C30;
  --accent-hover-color: rgba(201, 50, 57, 0.2);
  --disabled-color: #A0A0A0;
  --text-secondary-color: #71809B;
  --error-color: #A51C30;
  --warning-color: #ED7E2E;
  --shadow: rgba(0, 0, 0, 0.1);
  --disabled-light: rgba(153, 153, 153, 0.12);
  --border-color: #CACED5;
}
